VITE_FIREBASE_API_KEY="IzaSyBgiBQEgyaFj5Y7iuMx9kuTlEoZR-frgIc"
VITE_FIREBASE_AUTH_DOMAIN="the-rolling-dough-website.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="the-rolling-dough-website"
VITE_FIREBASE_STORAGE_BUCKET="the-rolling-dough-website.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="468113763278"
VITE_FIREBASE_APP_ID="1:468113763278:web:072aa44973f0b41d1e599f"
